

.idea
.DS_store
__pycache__
node-project
simple-recorderjs-demovenv
venv
.ipynb_checkpoint
feature_extraction_deep_learning/notebooks/data/*
feature_extraction_deep_learning/.ipynb_checkpoints/
feature_extraction_deep_learning/gtzan-claasification-repo/code/.ipynb_checkpoints/
feature_extraction_deep_learning/notebooks/.ipynb_checkpoints/
feature_extraction_deep_learning/notebooks/rough/.ipynb_checkpoints
file
commands.txt
feature_extraction_deep_learning/notebooks/rough/.ipynb_checkpoints
feature_extraction_deep_learning/automatic-music-genre-classification-v-1.0.0