.idea
.DS_store
__pycache__
venv
.ipynb_checkpoints
commands.txt
instance
my_logs
.coverage
/amgc_project/instance/
*.h5
*.pkl
audio.txt
/amgc_project/app/file/Users_macbookretina_Desktop_automatic-music-genre-classification_amgc_project_app_file_audio.wav
