<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Simple Recorder.js demo with record, stop and pause</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- <link rel="stylesheet" href="static/index.css"> -->
  </head>
  <body>

    <button id="recordButton">Record</button>
<!--    <button id="pauseButton" disabled>Pause</button>-->
    <button id="stopButton" disabled>Stop</button>
    <div id="formats">Format: start recording to see sample rate</div>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{{ url_for('static', filename='js/app_v2.js') }}"></script>

  </body>
</html>
