<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Simple Recorder.js demo with record, stop and pause</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- <link rel="stylesheet" href="static/index.css"> -->
  </head>
  <body>

    <button type="button" name="button" id='startBtn'>Play</button>
    <button type="button" name="button" id='stopBtn'>Stop</button>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  </body>
</html>
